<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="">
    <title>Log in</title>
</head>
<body>

<div>
    <form method="POST" action="/login">
        <input name = "username" type = "text" placeholder = "Username" />
        <input name = "password" type = "password" autocomplete="on"/>
        <button type = "submit">Log in </button>
    </form>
</div>

</br></br>

<h3>
    <a href="/logout">Log Out</a>
</h3>

</body>
</html>